<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
	</settings>
	
	<!-- 별칭 설정 -->
	<typeAliases>
		<typeAlias type="com.bbagym.app.noticeBoardDTO.NoticeBoardDTO" alias = "NoticeBoardDTO"/>
		<typeAlias type="com.bbagym.app.adminDTO.AdminDTO" alias = "AdminDTO"/>
		<typeAlias type="com.bbagym.app.comment.dto.CommentDTO" alias = "CommentDTO"/>
		<typeAlias alias="BoardDTO" type="com.bbagym.app.board.dto.BoardDTO"/>
		 <typeAlias type="com.bbagym.app.dto.UserDTO" alias = "UserDTO"/>      
      <typeAlias type="com.bbagym.app.dto.BusinessUserDTO" alias = "BusinessUserDTO"/>
      <typeAlias type="com.bbagym.app.admin.vo.BoardVO" alias="BoardVO"/>
	</typeAliases>

   <environments default="mysql">
      <environment id="mysql">
         <transactionManager type="JDBC"/>
         <dataSource type="POOLED">
            <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
            <property name="url" value="jdbc:mysql://localhost:3306/bbagymDB"/>
            <property name="username" value="root"/>
            <property name="password" value="1234"/>
         </dataSource>
      </environment>
   </environments>
   
   	<mappers>
		<mapper resource = "com/mybatis/mapper/NoticeBoardMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/AdminLoginMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/CommentMapper.xml"></mapper>
		<mapper resource = "com/mybatis/mapper/BoardMapper.xml"></mapper>
         <mapper resource = "com/mybatis/mapper/UserMapper.xml"></mapper>
         <mapper resource = "com/mybatis/mapper/BusinessUserMapper.xml"></mapper>
         <mapper resource="com/mybatis/mapper/adminMapper.xml"/>
	</mappers>
</configuration>

