@charset "UTF-8";
.admin_header{
    margin: auto;
    width:60%;
    height:10%;
    background-color: white;
    position:fixed;
    left:304px;
    border-bottom: 1px solid  rgba(179, 176, 176,0.7);
    font-family: 'LINESeedKR-Bd';
}
ul{
    list-style: none;
    display: flex;
    width:100%;
    height:100%;
}
li{
    width:100%;
    height:100%;
}
a{
    text-decoration: none;
    color:black;
    
}
.admin_header_category{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width:100%;
    height:100%;
}
.admin_header_category:hover{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 33px;
    width:100%;
    height:100%;
    border-radius: 10px;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}