@charset "UTF-8";
*{
    margin:0;
    padding:0;
    font-family: 'LINESeedKR-Bd';
}
html,body{
    width:100%;
    height:100%;
    background-color: rgba(238, 235, 235,0.6);
}
a{
    text-decoration: none;
}
.container{
    width:60%;
    height:100%;
    margin:75px auto 0px;
    background-color: white;    
}

.title-container{
width:100%;
border-bottom: 1px solid rgba(179, 176, 176,0.7);
padding-bottom: 20px;
display: flex;
justify-content: center;
padding-top:10px;
}
button{
background-color: rgb(247, 86, 86);
width:100%;
height:90%;
cursor:pointer;

}
table{
border-collapse: collapse;
}
.user-info-container{
width:100%;
display: flex;
justify-content: center;

}
td,th{
width:50px;
height:30px;
}
.id,.pw,.phone{
width:200px;
}
.name{
width:90px;
}
th{
    background-color: rgba(238, 235, 235,0.6);
}
td{
    text-align: center;
}

@font-face {
    font-family: 'LINESeedKR-Bd';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}