@charset "UTF-8";
*{
    margin:0;
    padding:0;
}

html,body{
    width: 100%;
    background-color: rgba(238, 235, 235, 0.6);
}

.container{
    width: 60%;
    min-height: 100vh;
    margin: auto;
    background-color: white;
}

h2{
    font-weight: normal;
    padding: 2% 0 0 2%;
}

.name-container,.id-container,.email-container{
    color: gray;
}
.name-text,.id-text,.email-text{
    padding: 10px 0 0 2%;
    font-size: 15px;
}
.name-text{
    margin: 50px 0 0 0;
}
.name,.id,.email,.find-pw-btn{
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 5px 2%;
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
    padding: 0 2%;
}
.name,.id,.email{
    width: 92%;
    background-color: rgba(238, 235, 235, 0.6);
    border: 1px solid gainsboro;
}
.find-pw-btn{
    width: 96%;
    margin-top: 40px;
    border-style: none;
    /* background-color: rgb(179, 188, 255); */
    background-color: rgb(84, 103, 245);
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.find-pw-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}


.pw-container{
    display: flex;
    justify-content: center;
    padding: 5%;
}
.show{
    display: none;
}