@charset "UTF-8";
*{
    margin:0;
    padding:0;
}

html,body{
    width: 100%;
    background-color: rgba(238, 235, 235, 0.6);
}

.container{
    width: 60%;
    margin: auto;
    background-color: white;
}

.logo{
    display: flex;
    padding: 2%;
}
.inform-container,.business-container{
    color: gray;
}
.inform-text{
    padding: 10px 0 0 2%;
    font-size: 15px;
    color: gray;
}
.inform{
    width: 92%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 5px 2%;
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
    background-color: rgba(238, 235, 235, 0.6);
    border: 1px solid gainsboro;
    padding: 0 2%;
}
.join-btn{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    border-style: none;
    font-size: 15px;
    background-color: rgb(84, 103, 245);
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 10px;
}

.kind-label{
    display: flex;
    flex-direction: row;
    margin: 10px 0;
}
.kind-check{
    display: flex;
    flex-direction: column;
    margin: 5px 1% 5px 2%;
}
.kind{
    display: flex;
    flex-direction: column;
}
.kind-text{
    margin-bottom: 10px;
}

.join-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.show{
    display: none;
}