@charset "UTF-8";
*{
    margin:0;
    padding:0;
}

html,body{
    width: 100%;
    background-color: rgba(238, 235, 235, 0.6);
}

.container{
    width: 60%;
    min-height: 100vh;
    margin: auto;
    background-color: white;
}

.logo{
    display: flex;
    padding: 2%;
}
.id-container,.pw-container{
    color: gray;
}
.id-text,.pw-text{
    padding: 10px 0 0 2%;
    font-size: 15px;
}
.id,.pw,.login-btn{
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 5px 2%;
    border-radius: 10px;
    border-style: none;
    font-size: 15px;
    padding: 0 2%;
}
.id,.pw{
    width: 92%;
    background-color: rgba(238, 235, 235, 0.6);
    border: 1px solid gainsboro;
}
.login-btn{
    width: 96%;
    margin-top: 40px;
    border-style: none;
    background-color: rgb(84, 103, 245);
    color: white;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.login-btn:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.find-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.find-id,.find-password,.join{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: gray;
    font-weight: bold;
    transform-style: none;
    margin: 0 8px;
}

.banner{
    width: 100%;
    height: 200px;
    margin: 50px 0;
    cursor: pointer;
}

.terms{
    display: flex;
    justify-content: center;
    font-size: 10px;
    color: gray;
    padding: 0 2% 30px 2%;
}